.kanban {
  display: flex;
  align-items: flex-start;

  .section {
      width: 400px;
      max-width: 400px;
      background-color: #383838;
      padding: 10px;
      border-radius: 10px;
      margin-left: 10px;
      
      &__title {
          font-size: 1.4rem;
          font-weight: 700;
          margin: 10px 0 20px;
      }

      &__content {
        font-size: 1.2rem;
        margin-left:10px;
          & > * ~ * {
              margin-top: 10px;
          }
          .itemContent{
            margin:5px;
            padding:5px;
            &:hover {
                box-shadow: 0 0 0 2px rgb(83, 83, 83);
                border-radius: 10px;
                svg{
                    fill: rgb(124, 124, 124); 
                }
            }
            
          }
      }
      .headTitle{
          display:flex;
          justify-content: space-between;
          cursor: pointer;
            svg{
                margin:15px 15px;
                &:hover{
                    fill: rgb(124, 124, 124); 
                }
            }
      }
      input{
          width:170px;
          height:30px;
          margin-bottom:2px;
          font-size:1.2rem;
      }
  } 
}